body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.social-icon {
  margin-right: 5px;
}

.reference-name {
  margin-top: 5px;
}

.reference-description {
  margin-bottom: 20px;
}

.sidebar {
  width: 25%;
  height: 100%;
  border-right: 2px solid black;
  float:left;
  box-sizing: border-box;
}

.name {
  font-size: 2.5em;
  display: inline;
  top: 10px;
  position: relative;
}

.title {
  font-size: 1.5em;
  opacity: 0.5;
  font-weight: 100;
}

.content {
  width: 60%;
  margin-left: 10%;
  float:left;
  text-align: left;
  box-sizing: border-box;
}

.view-type a {
  color: black; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.social-icons {
  margin-bottom: 5px;
}

.footer {
  height: 60px;
}

.block {
  margin-top: 25px;
  border-bottom: 1px solid grey;
}

.block:last-of-type {
  border-bottom: 0;
}

.company {
  display: inline;
  float: left;
  margin-top: 0.25em;
}

.edu {
  margin-bottom: 15px;
  margin-top: 5px;
}

.label-skill {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sub-label {
  font-size: 0.9em;
  margin-top: 10px;
}

.skillset {
  width: 30%;
  float: left;
}

.clear {
    clear: both;
}

.employment-term{
  display: inline;
  float: right;
}

.job {
  margin-top: 5px;
  margin-bottom: 25px;
}

.job-title {
  clear: both;
  display: block;
  font-size: 1.3em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
}

.reference-name {
  font-size: 1.2em;
  margin-bottom: 3px;
}

.row {
  display:table-row;
}

.row > div
{
    display: table-cell;
}

.reference {
  margin-top: 3%;
}

.wrapper {
  display: table;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

.address {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom:0px;
}



/*fehiufhwuie*/
.view-table
{
    display:table;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.view-row
{
    display:table-row;
}

.view-row > div
{
    display: table-cell;
}

.view-name
{
  margin-left: 15%;
  text-align: left;
  box-sizing: border-box;
  padding-left: 25px;
}
.view-type
{
    border-right: 2px solid black;
    box-sizing: border-box;
    padding-right: 2.5%;
    position: relative;
}
